@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@AssigDataModel(Model)
@AddProcessDataResx(appThemeView, true)
<!--inject-->
@{
    var articlelinksLP = 0; // Required for ArticleLinkFields.cshtml
    var linkData = articleRowData.Getlink(0);
    var linkInfo = linkData.Info;
}
<div class="linklist w3-row">
    [INJECT:appthemesystem,ArticleLinkFields.cshtml]
</div>
[INJECT:appthemesystem,ArticleLinkFieldsJS.cshtml]
